*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

 
}
.texxt{
color: rgb(250, 205, 42);
  
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:15vh;
    padding-top: 15px;
    font-size: 20px;
}
ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap:22px;
}
ul li:hover{
    color: rgb(250, 205, 42);
    cursor: pointer;

}
.head{
    width:100%;
    height:130vh;
    background-attachment: fixed;
    background-image:url('https://149842022.v2.pressablecdn.com/illdy/wp-content/themes/illdy/layout/images/front-page/front-page-header.jpg');
color:white;
}
.text1{
    display: flex;
    width:100%;
    flex-direction: column;
   align-items: center;
   padding-top: 200px;
}
.text1 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}
.buton{
    display: flex;
    width: 100%;
    flex-direction: row !important;
      
    justify-content: center !important;
}
button{
   width:220px;
   height:70px;
   font-size:15px;
}

.buton1{
    background-color: rgba(0, 0, 0, 0.173);
    border: 2px solid white;
    color: azure;
}
.buton2{
color: azure; 
background-color: rgb(250, 205, 42);
border: none;
transition: all 0.2s;
}
.buton2:hover{
    color: azure;
    background-color: rgb(89, 5, 100);
    cursor: pointer;
}
.center{
    width: 100%;
    height:60vh;
    display:flex;
    justify-content: space-around;
 
}
.text2{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
}
